In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rc('font',family='Malgun Gothic')
import seaborn as sns

In [2]:
df_TOCC = pd.read_csv('../../datasets/TypeOfContractChannel.csv')
df_TOCC[:3]

,id,type_of_contract,type_of_contract2,channel,datetime,Term,payment_type,product,amount,state,overdue_count,overdue,credit rating,bank,cancellation,age,Mileage
0,66758234,렌탈,Normal,서비스 방문,2019-10-20,60,CMS,K1,96900,계약확정,0,없음,9.0,새마을금고,정상,43.0,1862.0
1,66755948,렌탈,Extension_Rental,서비스 방문,2019-10-20,60,카드이체,K1,102900,계약확정,0,없음,2.0,현대카드,정상,62.0,2532.0
2,66756657,렌탈,Normal,홈쇼핑/방송,2019-10-20,60,CMS,K1,96900,계약확정,0,없음,8.0,우리은행,정상,60.0,2363.0

- 목표변수 먼저 설정하고 그때그때 가져오기
### x:범주형, y:범주형
        - 주로 독립성 증명 (독립성 O: 귀무가설 참(x-y 관계가 없다), 독립성 X: 대립가설 참(x-y 관계가 있다))
        - 대립가설이 참이어야함 (유의미함!!)
#### 선정변수 
        1. 'type_of_contract' (범주), 'cancellation' (범주)
            → 분석 내용: 계약 유형에 따른 해약 여부???
                - 귀무가설: 계약유형에 따른 해약여부는 달라지지 않음. 
                - 대립가설: 계약유형에 따른 해약여부는 달라짐. 
            → 분석 결론 (p-value : 0.05 ?)
                - 통계 결론: 대립가설 참
                - 사실 결론: 계약유형에 따라서 해약여부가 달라짐.

In [6]:
df_TOCC[['type_of_contract','cancellation']].describe()
# 항목 개수 확인

       type_of_contract cancellation
count             51300        51279
unique                2            2
top                  렌탈           정상
freq              46481        50372

In [12]:
df_TOCC_category = df_TOCC[['type_of_contract','cancellation']]
df_TOCC_category[:2]

  type_of_contract cancellation
0               렌탈           정상
1               렌탈           정상

In [14]:
# index = groupby= y = 목표변수
df_TOCC_category_pivot = pd.pivot_table(data=df_TOCC_category, index=['type_of_contract'], columns=['cancellation'], aggfunc=(len))
df_TOCC_category_pivot

cancellation         정상   해약
type_of_contract
렌탈                46137  344
멤버십                4231  563

#### pivot_table로는 숫자만 보여서 검증이 필요함. 
        - chi^2 을 사용

In [15]:
import scipy 
scipy.__version__
import scipy.stats as stats

- chi2_contingency(observed[, correction, lambda_])
- observedarray_like
The contingency table. The table contains the observed frequencies (i.e. number of occurrences) in each category. In the two-dimensional case, the table is often described as an “R x C table”.

In [17]:
stats.chi2_contingency(observed=df_TOCC_category_pivot, correction=True)

Chi2ContingencyResult(statistic=3021.9735309482894, pvalue=0.0, dof=1, expected_freq=array([[45658.8007411,   822.1992589],
       [ 4709.1992589,    84.8007411]]))

#### 카이제곱 결과 
        - p-value < 0.05 이므로 대립가설 참. 
        - 계약 유형에 따라 해약여부가 달라짐.