In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.5.3'

### DataFrame 구조
- index(row) - column(column)  - data

In [3]:
num_list = [10, 20, 30, 40, 50]
pd.DataFrame(data=num_list)

    0
0  10
1  20
2  30
3  40
4  50

In [4]:
double_list = ([ [1000, '과자','2019-12-31','반품'],
                 [2000, '음료', '2020-03-02', '정상'],
                 [3000, '아이스크림', '2020-02-03','정상'],
                 [1000,'과자','2019-12-31','반품'] ])
pd.DataFrame(data=double_list)

      0      1           2   3
0  1000     과자  2019-12-31  반품
1  2000     음료  2020-03-02  정상
2  3000  아이스크림  2020-02-03  정상
3  1000     과자  2019-12-31  반품

In [5]:
double_columns = ['가격','종류','판매일자','반품여부']
df_saledays = pd.DataFrame(data=double_list, columns=double_columns)
df_saledays

     가격     종류        판매일자 반품여부
0  1000     과자  2019-12-31   반품
1  2000     음료  2020-03-02   정상
2  3000  아이스크림  2020-02-03   정상
3  1000     과자  2019-12-31   반품

In [6]:
type(df_saledays)

pandas.core.frame.DataFrame

In [7]:
df_saledays.columns, type(df_saledays.columns), list(df_saledays.columns)

(Index(['가격', '종류', '판매일자', '반품여부'], dtype='object'),
 pandas.core.indexes.base.Index,
 ['가격', '종류', '판매일자', '반품여부'])

In [8]:
df_saledays.index

RangeIndex(start=0, stop=4, step=1)

In [9]:
df_saledays.values

array([[1000, '과자', '2019-12-31', '반품'],
       [2000, '음료', '2020-03-02', '정상'],
       [3000, '아이스크림', '2020-02-03', '정상'],
       [1000, '과자', '2019-12-31', '반품']], dtype=object)

In [10]:
# df_saledays.drop(columns=['종류', '판매일자'], inplace =True) drop한 coloumn가 원본 df에서 완전 삭제됨. 
df_saledays_dropcol = df_saledays.drop(columns=['종류', '판매일자'])

In [11]:
df_saledays_dropcol

     가격 반품여부
0  1000   반품
1  2000   정상
2  3000   정상
3  1000   반품

In [25]:
## 필터 : and - &, or - |
# condition = (df_saledays_dropcol['반품여부'] == '정상' )
condition = (df_saledays_dropcol['가격'] >= 2500)
df_saledays_dropcol.loc[condition]

     가격 반품여부
2  3000   정상

In [24]:
#(df_saledays_dropcol['가격'] >= 2500) | (df_saledays_dropcol['가격'] <= 1000) # 특정 범위 선택
(df_saledays_dropcol['반품여부'] == '정상' ) & (df_saledays_dropcol['가격'] >= 2500)

0    False
1    False
2     True
3    False
dtype: bool

In [41]:
### 요약_옵션 안달면 그냥 mean값 나옴
#df_saledays_dropcol.pivot_table(index='반품여부', values='가격')
#pd.pivot_table(data=df_saledays_dropcol, index='반품여부', values='가격' )
import numpy as np
df_saledays_dropcol.pivot_table(index='반품여부', values='가격', aggfunc=np.min)

        가격
반품여부
반품    1000
정상    2000

df_saledays_dropcol.pivot_table(index='반품여부', values='가격')과 동일

In [42]:
df_saledays.pivot_table(index=['반품여부', '종류'], values='가격', aggfunc=[np.sum, np.min, np.size])

             sum  amin size
              가격    가격   가격
반품여부 종류
반품   과자     2000  1000    2
정상   아이스크림  3000  3000    1
     음료     2000  2000    1

In [12]:
single_data = [0.1, 0.2, 0.3, 0.4, 0.5]
series_float = pd.Series(data=single_data)
series_float

0    0.1
1    0.2
2    0.3
3    0.4
4    0.5
dtype: float64

### Series 
- index - data

In [13]:
type(series_float)

pandas.core.series.Series

## 통계 수치 표현

In [30]:
import numpy as np

In [31]:
arr = np.array([6, 4, 1, 3, 5, 3, 10, 7, 9])
arr

array([ 6,  4,  1,  3,  5,  3, 10,  7,  9])

In [37]:
# 평균, 합계
np.mean(arr), np.sum(arr)

(5.333333333333333, 48)

In [33]:
# 중앙값
np.median(arr)

5.0

In [34]:
# 최소값, 최대값
print (np.min(arr), np.max(arr))

1 10

In [35]:
# 분산, 표준편차
np.var(arr), np.std(arr)

(7.777777777777778, 2.788866755113585)