In [2]:
import pandas as pd
import numpy as np

In [3]:
df_ROS = pd.read_csv('../../datasets/RecurrenceOfSurgery.csv')
df_ROS

,Unnamed: 0,환자ID,Large Lymphocyte,Location of herniation,ODI,가족력,간질성폐질환,고혈압여부,과거수술횟수,당뇨여부,...,Modic change,PI,PT,Seg Angle(raw),Vaccum disc,골밀도,디스크단면적,디스크위치,척추이동척도,척추전방위증
0,0,1PT,22.8,3,51.0,0.0,0,0,0,0,...,3,51.6,36.6,14.4,0,-1.01,2048.50,4,Down,0
1,1,2PT,44.9,4,26.0,0.0,0,0,0,0,...,0,40.8,7.2,17.8,0,-1.14,1753.10,4,Up,0
2,2,3PT,53.0,3,NaN,0.0,0,0,1,0,...,0,67.5,27.3,10.2,0,-1.77,1749.00,4,Down,0
3,3,4PT,54.7,4,18.0,0.0,0,1,0,0,...,0,49.2,18.7,19.9,0,-1.58,1796.20,4,Down,0
4,4,5PT,53.8,4,NaN,0.0,0,1,0,0,...,0,58.8,14.7,5.2,0,-0.79,2021.48,4,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1889,1889,1890PT,44.0,1,NaN,0.0,0,0,0,0,...,2,59.5,23.0,21.8,0,NaN,2652.20,5,Middle,0
1890,1890,1891PT,30.8,2,NaN,0.0,0,0,0,0,...,0,47.7,20.2,5.0,0,NaN,1795.80,4,Down,0
1891,1891,1892PT,36.7,3,NaN,0.0,0,0,0,0,...,0,44.6,15.0,17.4,1,NaN,2624.40,4,Down,0
1892,1892,1893PT,32.5,2,NaN,0.0,0,0,0,0,...,2,32.2,11.1,17.7,0,NaN,1972.50,5,Down,0
1893,1893,1894PT,49.5,2,NaN,0.0,0,0,0,0,...,0,38.9,6.8,27.8,0,NaN,1574.40,5,Middle,0

### 의사 대상 분석
0. 변수 구조 확인 (.columns)

In [4]:
df_ROS.columns

Index(['Unnamed: 0', '환자ID', 'Large Lymphocyte', 'Location of herniation',
       'ODI', '가족력', '간질성폐질환', '고혈압여부', '과거수술횟수', '당뇨여부', '말초동맥질환여부', '빈혈여부',
       '성별', '스테로이드치료', '신부전여부', '신장', '심혈관질환', '암발병여부', '연령', '우울증여부', '입원기간',
       '입원일자', '종양진행여부', '직업', '체중', '퇴원일자', '헤모글로빈수치', '혈전합병증여부', '환자통증정도',
       '흡연여부', '통증기간(월)', '수술기법', '수술시간', '수술실패여부', '수술일자', '재발여부', '혈액형',
       '전방디스크높이(mm)', '후방디스크높이(mm)', '지방축적도', 'Instability', 'MF + ES',
       'Modic change', 'PI', 'PT', 'Seg Angle(raw)', 'Vaccum disc', '골밀도',
       '디스크단면적', '디스크위치', '척추이동척도', '척추전방위증'],
      dtype='object')

1. 목표변수 설정 (y축) 
    - ⇒ '수술시간' 선택
2. 설명변수 설정 (x축)
    - '수술기법', '스테로이드치료', 'Location of herniation', '수술실패여부', 'Seg Angle(raw)'
    - ⇒ 설명변수 추출_(열 단위 추출 진행 (이때 목표변수 '수술시간' 같이 넣고 추출))

### 목표: 수술시간 
### 설명: 수술기법, 스테로이드치료, Location of herniation, 수술실패여부, Seg Angle(raw)

In [5]:
# 추출
df_ROS_extract= df_ROS[['수술시간', '수술기법', '스테로이드치료', 'Location of herniation', '수술실패여부', 'Seg Angle(raw)']]
df_ROS_extract

      수술시간  수술기법  스테로이드치료  Location of herniation  수술실패여부  Seg Angle(raw)
0     68.0  TELD        1                       3       0            14.4
1     31.0  TELD        1                       4       0            17.8
2     78.0  TELD        1                       3       0            10.2
3     73.0  TELD        0                       4       0            19.9
4     29.0  TELD        1                       4       0             5.2
...    ...   ...      ...                     ...     ...             ...
1889  80.0   NaN        1                       1       0            21.8
1890  20.0   NaN        1                       2       0             5.0
1891  50.0  IELD        1                       3       0            17.4
1892  25.0   NaN        1                       2       0            17.7
1893  45.0   NaN        1                       2       0            27.8

[1894 rows x 6 columns]

In [9]:
## 각도를 생각했을 떄 중앙값을 기준으로 -14.5<= x <= 14.5 
condition = (df_ROS['Seg Angle(raw)'] >= -14.500000 ) & (df_ROS['Seg Angle(raw)'] <= 14.500000 )
df_ROS_angle = df_ROS.loc[condition]
df_ROS_angle

,Unnamed: 0,환자ID,Large Lymphocyte,Location of herniation,ODI,가족력,간질성폐질환,고혈압여부,과거수술횟수,당뇨여부,...,Modic change,PI,PT,Seg Angle(raw),Vaccum disc,골밀도,디스크단면적,디스크위치,척추이동척도,척추전방위증
0,0,1PT,22.8,3,51.0,0.0,0,0,0,0,...,3,51.6,36.6,14.40,0,-1.01,2048.50,4,Down,0
2,2,3PT,53.0,3,NaN,0.0,0,0,1,0,...,0,67.5,27.3,10.20,0,-1.77,1749.00,4,Down,0
4,4,5PT,53.8,4,NaN,0.0,0,1,0,0,...,0,58.8,14.7,5.20,0,-0.79,2021.48,4,Up,0
5,5,6PT,28.5,3,NaN,0.0,0,0,2,0,...,0,41.8,23.6,8.80,0,-0.95,1937.50,4,Down,0
6,6,7PT,4.2,3,NaN,0.0,0,0,0,1,...,0,41.9,17.4,1.53,1,-1.71,2466.90,4,Down,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1878,1878,1879PT,18.3,1,NaN,0.0,0,0,0,0,...,0,55.1,24.9,2.00,0,NaN,1653.30,4,Down,1
1879,1879,1880PT,5.4,2,NaN,0.0,0,0,0,0,...,0,34.0,19.0,6.00,0,NaN,2258.80,4,Down,0
1883,1883,1884PT,25.4,3,NaN,0.0,0,1,0,0,...,0,55.2,25.1,11.50,0,NaN,2381.20,4,Down,0
1888,1888,1889PT,42.4,3,NaN,0.0,0,0,0,0,...,0,54.2,21.3,6.80,1,NaN,2421.30,3,Down,0
1890,1890,1891PT,30.8,2,NaN,0.0,0,0,0,0,...,0,47.7,20.2,5.00,0,NaN,1795.80,4,Down,0

In [12]:
# df_ROS_extract.pivot_table(index=['스테로이드치료', '수술실패여부', ], columns =['Location of herniation'], values='수술시간', aggfunc=[np.median])
# angle -14.5<= x <= 14.5 인 값들에서 수술시간 value로 두고 확인. 
df_ROS_angle.pivot_table(index=['스테로이드치료', '수술실패여부', ], columns =['Location of herniation'], values='수술시간', aggfunc=[np.median, np.mean, np.std])

                       median                                mean             \
Location of herniation      1     2     3     4      5          1          2
스테로이드치료 수술실패여부
0       0                60.0  60.0  55.0  54.5   55.0  60.081081  61.823529
        1                60.0  65.5  61.0   NaN  190.0  67.000000  72.166667
1       0                60.0  58.5  60.0  61.0   60.0  63.110169  60.765432
        1                69.0  71.0  45.0   NaN    NaN  72.466667  74.090909

                                                                std  \
Location of herniation          3          4           5          1
스테로이드치료 수술실패여부
0       0               57.745902  62.555556   64.714286  24.919463
        1               64.875000        NaN  190.000000  27.066585
1       0               61.782383  62.666667   64.777778  25.349450
        1               48.571429        NaN         NaN  32.706196


Location of herniation          2          3          4          5
스테로이드치료 수술실패여부
0       0               24.466735  21.864179  29.179409  23.676390
        1               28.237682  20.489980        NaN        NaN
1       0               25.876329  21.908767  21.167084  18.287822
        1               22.923588  19.602646        NaN        NaN

In [15]:
## -14.5 <= x <= 14.5 외의 각도: x < -14.5 & 14.5< x 
condition = (df_ROS['Seg Angle(raw)'] < -14.500000 ) | (df_ROS['Seg Angle(raw)'] > 14.500000 )
df_ROS_outangle = df_ROS.loc[condition]

In [18]:
df_ROS_outangle.pivot_table(index=['스테로이드치료', '수술실패여부', ], columns =['Location of herniation'], values='수술시간', aggfunc=[np.median, np.mean, np.std])

                       median                               mean             \
Location of herniation      1     2     3     4     5          1          2
스테로이드치료 수술실패여부
0       0                59.0  60.0  60.0  72.0  43.0  61.728155  64.404040
        1                75.0  67.0  60.0  35.0  70.0  75.000000  72.111111
1       0                64.0  60.0  60.0  57.0  60.0  63.778523  62.279412
        1                85.0  47.0  50.0  64.5  35.0  85.000000  55.000000

                                                            std             \
Location of herniation          3          4       5          1          2
스테로이드치료 수술실패여부
0       0               60.830000  69.678571  44.500  26.404543  30.629757
        1               65.066667  35.000000  70.000        NaN  40.176002
1       0               61.900000  60.000000  63.625  22.517214  24.221108
        1               50.700000  64.500000  35.000        NaN  17.435596


Location of herniation          3          4          5
스테로이드치료 수술실패여부
0       0               26.108575  28.736418  18.156725
        1               28.609356        NaN  45.254834
1       0               24.867043  24.637370  15.259072
        1               20.955243  24.748737        NaN