In [2]:
import pandas as pd

#### DDA 선택 기준
- 첫번째: 분석 제공 대상 선정 _Columnn 선택 기준 달라짐
     - 환자 or 보호자
     - 의사
     - 병원 운영 관리자
     - 연구자
     - 보험회사

In [40]:
df_ROS = pd.read_csv('../../datasets/RecurrenceOfSurgery.csv')
df_ROS.head(4)

,Unnamed: 0,환자ID,Large Lymphocyte,Location of herniation,ODI,가족력,간질성폐질환,고혈압여부,과거수술횟수,당뇨여부,...,Modic change,PI,PT,Seg Angle(raw),Vaccum disc,골밀도,디스크단면적,디스크위치,척추이동척도,척추전방위증
0,0,1PT,22.8,3,51.0,0.0,0,0,0,0,...,3,51.6,36.6,14.4,0,-1.01,2048.5,4,Down,0
1,1,2PT,44.9,4,26.0,0.0,0,0,0,0,...,0,40.8,7.2,17.8,0,-1.14,1753.1,4,Up,0
2,2,3PT,53.0,3,NaN,0.0,0,0,1,0,...,0,67.5,27.3,10.2,0,-1.77,1749.0,4,Down,0
3,3,4PT,54.7,4,18.0,0.0,0,1,0,0,...,0,49.2,18.7,19.9,0,-1.58,1796.2,4,Down,0

In [6]:
df_ROS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1894 entries, 0 to 1893
Data columns (total 52 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              1894 non-null   int64
 1   환자ID                    1894 non-null   object
 2   Large Lymphocyte        1894 non-null   float64
 3   Location of herniation  1894 non-null   int64
 4   ODI                     462 non-null    float64
 5   가족력                     1843 non-null   float64
 6   간질성폐질환                  1894 non-null   int64
 7   고혈압여부                   1894 non-null   int64
 8   과거수술횟수                  1894 non-null   int64
 9   당뇨여부                    1894 non-null   int64
 10  말초동맥질환여부                1894 non-null   int64
 11  빈혈여부                    1894 non-null   int64
 12  성별                      1894 non-null   int64
 13  스테로이드치료                 1894 non-null   int64
 14  신부전여부                   1894 non-null   int64
 15  신장                      1894 non-null   int64
 16  심혈관질환                   1894 non-null   int64
 17  암발병여부                   1894 non-null   int64
 18  연령                      1894 non-null   int64
 19  우울증여부                   1894 non-null   int64
 20  입원기간                    1894 non-null   int64
 21  입원일자                    1894 non-null   int64
 22  종양진행여부                  1894 non-null   int64
 23  직업                      1479 non-null   object
 24  체중                      1894 non-null   float64
 25  퇴원일자                    1894 non-null   int64
 26  헤모글로빈수치                 1893 non-null   float64
 27  혈전합병증여부                 1894 non-null   int64
 28  환자통증정도                  1894 non-null   int64
 29  흡연여부                    1894 non-null   int64
 30  통증기간(월)                 1890 non-null   float64
 31  수술기법                    1813 non-null   object
 32  수술시간                    1840 non-null   float64
 33  수술실패여부                  1894 non-null   int64
 34  수술일자                    1894 non-null   int64
 35  재발여부                    1894 non-null   int64
 36  혈액형                     1894 non-null   object
 37  전방디스크높이(mm)             1894 non-null   float64
 38  후방디스크높이(mm)             1894 non-null   float64
 39  지방축적도                   1891 non-null   float64
 40  Instability             1894 non-null   int64
 41  MF + ES                 1894 non-null   float64
 42  Modic change            1894 non-null   int64
 43  PI                      1890 non-null   float64
 44  PT                      1890 non-null   float64
 45  Seg Angle(raw)          1893 non-null   float64
 46  Vaccum disc             1894 non-null   int64
 47  골밀도                     998 non-null    float64
 48  디스크단면적                  1893 non-null   float64
 49  디스크위치                   1894 non-null   int64
 50  척추이동척도                  1894 non-null   object
 51  척추전방위증                  1894 non-null   int64
dtypes: float64(16), int64(31), object(5)
memory usage: 769.6+ KB

### 데이터 핸들링
- 정렬 (column으로 setting 후 정렬하는데 잘 안씀.)
    - pd.sort_values(by=['column'], ascending=[False or True])
- 추출 
    - 열 단위 추출: df[['a','b','c'...]] column list로 한다. 
    - 행 단위 추출: 주로 iloc[시작:끝, 시작:끝] (location)index로 움직임 (선행동작필) 
        - ex) .iloc[:3] #[:3] =0번부터~2번/ .iloc[-4:] = 뒤에서 4번째행까지만  - & head(앞에서) or tail(뒤에서)
- 필터 (특정한것 추출 + sum 같은 계산할때 필요한것 추출 )
- 요약

### 환자 대상 분석 필요
0. 변수 구조 확인 (.columns)
1. 목표변수 설정 (y축)
    - → column 확인하기 
    - ⇒ '재발여부' 선택
2. 설명변수 설정 (x축)
    - '성별','신장', '심혈관질환','체중','흡연여부','직업','혈액형' 후보 선택
    - ⇒ 설명변수 여러개 중에 추출을 한다 (열 단위 추출 진행 (이때 목표변수도 같이 넣고 추출))

In [41]:
df_ROS.columns

Index(['Unnamed: 0', '환자ID', 'Large Lymphocyte', 'Location of herniation',
       'ODI', '가족력', '간질성폐질환', '고혈압여부', '과거수술횟수', '당뇨여부', '말초동맥질환여부', '빈혈여부',
       '성별', '스테로이드치료', '신부전여부', '신장', '심혈관질환', '암발병여부', '연령', '우울증여부', '입원기간',
       '입원일자', '종양진행여부', '직업', '체중', '퇴원일자', '헤모글로빈수치', '혈전합병증여부', '환자통증정도',
       '흡연여부', '통증기간(월)', '수술기법', '수술시간', '수술실패여부', '수술일자', '재발여부', '혈액형',
       '전방디스크높이(mm)', '후방디스크높이(mm)', '지방축적도', 'Instability', 'MF + ES',
       'Modic change', 'PI', 'PT', 'Seg Angle(raw)', 'Vaccum disc', '골밀도',
       '디스크단면적', '디스크위치', '척추이동척도', '척추전방위증'],
      dtype='object')

df_ROS.columns는 instance라 () 필요없음. 
<환자가 궁금할거같은 column_재발여부가 궁금>
-재발여부 = 목표변수

In [42]:
# '재발여부','성별','신장', '심혈관질환','체중','흡연여부','직업','혈액형'
# 열 단위 추출 방법_'하나'만 넣으면 series로 인식함. 고로, 이중괄호로 진행 
# df_ROS[['재발여부','성별','신장', '심혈관질환','체중','흡연여부','직업','혈액형']]
df_ROS_forpatient = df_ROS[['재발여부','성별','신장', '심혈관질환','체중','흡연여부','직업','혈액형']]
# df_ROS_forpatient.head(4)
# df_ROS_forpatient.tail(3)
df_ROS_forpatient.tail(3)

      재발여부  성별   신장  심혈관질환    체중  흡연여부   직업    혈액형
1891     0   1  167      0  70.0     0   무직   RH+O
1892     0   1  177      0  77.0     0  사무직   RH+A
1893     0   2  168      0  49.0     0  사무직  RH+AB

In [43]:
# 행단위 추출 _.iloc[:, :],.head(), .tail()
df_ROS_forpatient.iloc[:3] #[:3] =0번부터~2번

   재발여부  성별   신장  심혈관질환    체중  흡연여부     직업   혈액형
0     0   2  163      0  60.3     0    자영업  RH+A
1     0   1  171      0  71.7     0   운동선수  RH+A
2     0   1  178      0  77.1     0  특수전문직  RH+B

In [44]:
df_ROS_forpatient.iloc[-4:] #.iloc[-4:] = 뒤에서 4번째행까지만

      재발여부  성별   신장  심혈관질환    체중  흡연여부   직업    혈액형
1890     0   2  157      0  59.0     0  사무직   RH+B
1891     0   1  167      0  70.0     0   무직   RH+O
1892     0   1  177      0  77.0     0  사무직   RH+A
1893     0   2  168      0  49.0     0  사무직  RH+AB

#### index 관련 사항
df_ROS.columns에서 보이는 index 부분을 column으로 대체 가능
- df_ROS.set_index('환자ID')

In [45]:
df_ROS.set_index('환자ID') # uniqueID 경우

,Unnamed: 0,Large Lymphocyte,Location of herniation,ODI,가족력,간질성폐질환,고혈압여부,과거수술횟수,당뇨여부,말초동맥질환여부,...,Modic change,PI,PT,Seg Angle(raw),Vaccum disc,골밀도,디스크단면적,디스크위치,척추이동척도,척추전방위증
환자ID,,,,,,,,,,,,,,,,,,,,,
1PT,0,22.8,3,51.0,0.0,0,0,0,0,0,...,3,51.6,36.6,14.4,0,-1.01,2048.50,4,Down,0
2PT,1,44.9,4,26.0,0.0,0,0,0,0,0,...,0,40.8,7.2,17.8,0,-1.14,1753.10,4,Up,0
3PT,2,53.0,3,NaN,0.0,0,0,1,0,0,...,0,67.5,27.3,10.2,0,-1.77,1749.00,4,Down,0
4PT,3,54.7,4,18.0,0.0,0,1,0,0,0,...,0,49.2,18.7,19.9,0,-1.58,1796.20,4,Down,0
5PT,4,53.8,4,NaN,0.0,0,1,0,0,0,...,0,58.8,14.7,5.2,0,-0.79,2021.48,4,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1890PT,1889,44.0,1,NaN,0.0,0,0,0,0,0,...,2,59.5,23.0,21.8,0,NaN,2652.20,5,Middle,0
1891PT,1890,30.8,2,NaN,0.0,0,0,0,0,0,...,0,47.7,20.2,5.0,0,NaN,1795.80,4,Down,0
1892PT,1891,36.7,3,NaN,0.0,0,0,0,0,1,...,0,44.6,15.0,17.4,1,NaN,2624.40,4,Down,0
1893PT,1892,32.5,2,NaN,0.0,0,0,0,0,0,...,2,32.2,11.1,17.7,0,NaN,1972.50,5,Down,0
1894PT,1893,49.5,2,NaN,0.0,0,0,0,0,0,...,0,38.9,6.8,27.8,0,NaN,1574.40,5,Middle,0

In [46]:
df_ROS.columns

Index(['Unnamed: 0', '환자ID', 'Large Lymphocyte', 'Location of herniation',
       'ODI', '가족력', '간질성폐질환', '고혈압여부', '과거수술횟수', '당뇨여부', '말초동맥질환여부', '빈혈여부',
       '성별', '스테로이드치료', '신부전여부', '신장', '심혈관질환', '암발병여부', '연령', '우울증여부', '입원기간',
       '입원일자', '종양진행여부', '직업', '체중', '퇴원일자', '헤모글로빈수치', '혈전합병증여부', '환자통증정도',
       '흡연여부', '통증기간(월)', '수술기법', '수술시간', '수술실패여부', '수술일자', '재발여부', '혈액형',
       '전방디스크높이(mm)', '후방디스크높이(mm)', '지방축적도', 'Instability', 'MF + ES',
       'Modic change', 'PI', 'PT', 'Seg Angle(raw)', 'Vaccum disc', '골밀도',
       '디스크단면적', '디스크위치', '척추이동척도', '척추전방위증'],
      dtype='object')

In [47]:
df_ROS.iloc[-4:]

,Unnamed: 0,환자ID,Large Lymphocyte,Location of herniation,ODI,가족력,간질성폐질환,고혈압여부,과거수술횟수,당뇨여부,...,Modic change,PI,PT,Seg Angle(raw),Vaccum disc,골밀도,디스크단면적,디스크위치,척추이동척도,척추전방위증
1890,1890,1891PT,30.8,2,NaN,0.0,0,0,0,0,...,0,47.7,20.2,5.0,0,NaN,1795.8,4,Down,0
1891,1891,1892PT,36.7,3,NaN,0.0,0,0,0,0,...,0,44.6,15.0,17.4,1,NaN,2624.4,4,Down,0
1892,1892,1893PT,32.5,2,NaN,0.0,0,0,0,0,...,2,32.2,11.1,17.7,0,NaN,1972.5,5,Down,0
1893,1893,1894PT,49.5,2,NaN,0.0,0,0,0,0,...,0,38.9,6.8,27.8,0,NaN,1574.4,5,Middle,0

In [48]:
### 정렬 _ sort_values(by=[두개이상]
df_ROS_forpatient.sort_values(by=['신장'])

      재발여부  성별   신장  심혈관질환     체중  흡연여부   직업   혈액형
1763     0   2  140      1   35.0     0   무직  RH+O
896      0   2  140      0   35.0     0  NaN  RH+A
348      0   2  142      0   52.9     0  자영업  RH+A
70       0   2  143      0   53.3     0  사무직  RH+O
974      0   2  143      0   56.0     0   무직  RH+O
...    ...  ..  ...    ...    ...   ...  ...   ...
202      0   1  189      0   85.3     0   군인  RH+B
464      0   1  189      0   85.9     0  자영업  RH+A
1227     0   1  190      0   74.0     0  자영업  RH+O
1246     0   1  191      0  114.0     0   학생  RH+O
1579     1   1  204      0  103.0     0   교사  RH+O

[1894 rows x 8 columns]

In [49]:
df_ROS_forpatient.sort_values(by=['신장','체중'], ascending=[False, False])
# ascending=[False] False는 descending?! == orderby 정렬된 범위내에서 2번째가 됨.

      재발여부  성별   신장  심혈관질환     체중  흡연여부   직업   혈액형
1579     1   1  204      0  103.0     0   교사  RH+O
1246     0   1  191      0  114.0     0   학생  RH+O
1227     0   1  190      0   74.0     0  자영업  RH+O
464      0   1  189      0   85.9     0  자영업  RH+A
202      0   1  189      0   85.3     0   군인  RH+B
...    ...  ..  ...    ...    ...   ...  ...   ...
974      0   2  143      0   56.0     0   무직  RH+O
70       0   2  143      0   53.3     0  사무직  RH+O
348      0   2  142      0   52.9     0  자영업  RH+A
896      0   2  140      0   35.0     0  NaN  RH+A
1763     0   2  140      1   35.0     0   무직  RH+O

[1894 rows x 8 columns]

In [51]:
## simple quest
## 정렬_혈액형 ascending, 직업 descending
## 추출_혈액형, 직업, 성별
# df_ROS_forpatient.sort_values(by=['신장','체중'], ascending=[False, False])
df_ROS.columns

Index(['Unnamed: 0', '환자ID', 'Large Lymphocyte', 'Location of herniation',
       'ODI', '가족력', '간질성폐질환', '고혈압여부', '과거수술횟수', '당뇨여부', '말초동맥질환여부', '빈혈여부',
       '성별', '스테로이드치료', '신부전여부', '신장', '심혈관질환', '암발병여부', '연령', '우울증여부', '입원기간',
       '입원일자', '종양진행여부', '직업', '체중', '퇴원일자', '헤모글로빈수치', '혈전합병증여부', '환자통증정도',
       '흡연여부', '통증기간(월)', '수술기법', '수술시간', '수술실패여부', '수술일자', '재발여부', '혈액형',
       '전방디스크높이(mm)', '후방디스크높이(mm)', '지방축적도', 'Instability', 'MF + ES',
       'Modic change', 'PI', 'PT', 'Seg Angle(raw)', 'Vaccum disc', '골밀도',
       '디스크단면적', '디스크위치', '척추이동척도', '척추전방위증'],
      dtype='object')

In [56]:
# 추출: 혈액형, 직업, 성별
df_ROS_BJG = df_ROS[['혈액형','직업','성별']]
df_ROS_BJG.head(5)

    혈액형     직업  성별
0  RH+A    자영업   2
1  RH+A   운동선수   1
2  RH+B  특수전문직   1
3  RH+O     주부   1
4  RH+A  특수전문직   1

In [57]:
# 정렬: 혈액형 asc, 직업 des
df_ROS_BJG.sort_values(by=['혈액형','직업'], ascending=[True, False])

       혈액형   직업  성별
60    RH+A   학생   1
176   RH+A   학생   1
184   RH+A   학생   2
224   RH+A   학생   2
272   RH+A   학생   1
...    ...  ...  ..
1710  RH+O  NaN   1
1715  RH+O  NaN   1
1718  RH+O  NaN   2
1726  RH+O  NaN   1
1739  RH+O  NaN   1

[1894 rows x 3 columns]