In [10]:
import pandas as pd

- .head(보이고자 하는 줄 개수)

In [20]:
df_BND = pd.read_csv('./NSC2_BND.csv')
df_BND.head(3)

,Unnamed: 0,_id,RN_INDI,BTH_YYYY,DTH_YYYYMM,COD1,COD2
0,0,64d2fd0b4adce6a8b046e745,294364,1921LE,200707.0,T08-T14,W00-W19
1,1,64d2fd0b4adce6a8b046e746,646257,1921LE,200805.0,A15-A19,NaN
2,2,64d2fd0b4adce6a8b046e747,733575,1921LE,201309.0,G30,NaN

### insertMany to MongoDB

In [22]:
import pymongo as mg

In [23]:
client=mg.MongoClient(host='mongodb://localhost:27017')

In [24]:
databases = client['study_test']
databases

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'study_test')

In [25]:
collection = databases['collect_tests']
collection

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'study_test'), 'collect_tests')

#### pandas.DataFrame.to_dict: 
https://pandas.pydata.org/pandas-docs/version/1.4/reference/api/pandas.DataFrame.to_dict.html
- orient='dict' 으로 
- Parameters orientstr {‘dict’(주로 python일때), ‘list’(주로), ‘series’, ‘split’(잘라서 array형식으로 but 잘 사용 안함. ), ‘records’(주로), ‘index’}

In [26]:
data_list = df_BND.to_dict(orient='records')

In [28]:
type(data_list)

list

In [29]:
collection.insert_many(data_list)