In [1]:
import pymongo as mg
import pandas as pd

In [2]:
mg.__version__

'3.12.0'

In [3]:
client=mg.MongoClient(host='mongodb://localhost:27017')

In [4]:
databases = client['db_NHIS']

In [5]:
collection = databases['NSC2_BNC_V2_1']

In [6]:
collection.find({})

In [14]:
cursor = collection.find({})

In [15]:
list_BNC = list(cursor)

In [18]:
df_BNC = pd.DataFrame(list_BNC)

In [19]:
df_BNC

,_id,STD_YYYY,RN_INDI,SEX,SGG,GAIBJA_TYPE,SMPL_TYPE_CD,CTRB_Q10,G1E_OBJ_YN,DSB_TYPE_CD,DSB_SVRT_CD_V2
0,64d31ef54c985e6268aea655,2002,1433,1,29140,7,1,NaN,NaN,NaN,NaN
1,64d31ef54c985e6268aea656,2003,1433,1,29140,7,1,NaN,NaN,NaN,NaN
2,64d31ef54c985e6268aea657,2004,1433,1,29140,7,1,NaN,NaN,NaN,NaN
3,64d31ef54c985e6268aea658,2005,1433,1,29140,7,1,NaN,NaN,NaN,NaN
4,64d31ef54c985e6268aea659,2006,1433,1,29140,7,1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
13022,64d31ef54c985e6268aed933,2012,3000357,2,28237,6,4,NaN,NaN,NaN,NaN
13023,64d31ef54c985e6268aed934,2013,3000357,2,28245,2,4,6.0,NaN,NaN,NaN
13024,64d31ef54c985e6268aed935,2014,3000357,2,28245,2,4,6.0,NaN,NaN,NaN
13025,64d31ef54c985e6268aed936,2015,3000357,2,28245,2,4,7.0,NaN,NaN,NaN
13026,64d31ef54c985e6268aed937,2015,3000758,1,41287,6,4,NaN,NaN,NaN,NaN

In [20]:
df_BNC.to_csv('./NSC2_BNC_V2_1.csv')