In [1]:
# %conda install pymongo

In [2]:
import pymongo as mg
import pandas as pd

In [3]:
client=mg.MongoClient(host='mongodb://localhost:27017')

In [4]:
databases = client['study_data_analytics']

In [5]:
collection = databases['collect_update']

In [8]:
cursor_data = collection.find({})

In [9]:
df_collect_update=pd.DataFrame(list(cursor_data))
df_collect_update[:2]

                        _id   name  age   city
0  65012a54a1550ed2340bc911  Alice   26  Seoul
1  65012a54a1550ed2340bc912    Bob   30  Busan

In [10]:
## date 추가하기. 
from datetime import datetime
df_collect_update['update']=datetime.now()
df_collect_update[:2]

                        _id   name  age   city                     update
0  65012a54a1550ed2340bc911  Alice   26  Seoul 2023-09-13 13:03:08.668105
1  65012a54a1550ed2340bc912    Bob   30  Busan 2023-09-13 13:03:08.668105

In [14]:
## 새로이 추가된걸 update로 하지 말로 collection을 새롭게 만들어서 한다. 
collection_new = databases['collect_update_new']
collection_new

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'study_data_analytics'), 'collect_update_new')

In [15]:
dict_collect_update = df_collect_update.to_dict(orient='records') #to_dict(orient='records')
result=collection_new.insert_many(dict_collect_update)

- 앞으로 이 과정으로 해야함.... 
- 불용어 적용 or 분석 후 column이 붙을때 이렇게 넣어야함. 
- 새롭게 collection을 만드는걸 습관화해야함.

In [17]:
result ## pymongo.results.InsertManyResult : results는 class이므로 list 결과를 가져올수있다.

In [18]:
result.inserted_ids

[ObjectId('65012a54a1550ed2340bc911'),
 ObjectId('65012a54a1550ed2340bc912'),
 ObjectId('65012a54a1550ed2340bc913')]